*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

/******MENU******/

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: rgb(46, 46, 46);
    box-shadow: 0 4px 25px -22px black;
    z-index: 4;
}

.header-content{
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2{
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    color: white;
    margin-left: 20px;
}

.logo img {
    width: 40px;
}

.botones{
    height: 60px;
    margin-left: 170px;
}

.botones ul{
    list-style: none;
    height: 100%;
    display: flex;
}

.botones ul li{
    margin-right: 200px;
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.botones ul li:hover {
    margin: 0px 27px;
    transition: 650ms;
    background: rgb(99, 99, 99);
}

.botones ul li a {
    font-size: 25px;
    font-family: 'Gemunu Libre', sans-serif;
    color: rgb(255, 255, 255);
}

.botones ul li a:hover {
    text-shadow: 3px 5px 10px black;
    transition: 500ms;
    font-size: 30px;
}

.selected:before {
    content: '';
    width: 100%;
    height: 6px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 6px;
    padding: 6px;
    font-size: 20px;
    background: rgb(99, 99, 99);
    border-radius: 100%;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover {
    background: rgb(99, 99, 99);
}

.botones ul li a i {
    display: none;
}

.fondo {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 60px;
    background: rgba(0, 0, 0, 0.308);
    z-index: 2;
}

/******PORTADA******/

.cantantes {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

/******RESPONSIVE******/

@media screen and (max-width: 1100px) {

    .header-content{
        max-width: 100%;
        padding: 0px 20px;
    }

    .botones {
        margin-left: 0px;
    }
}

@media screen and (max-width: 904px) {

    #icon-menu {
        display: flex;
    }

    .logo h2 {
        font-size: 20px;
        margin-left: 10px;
    }

    .logo img {
        width: 30px;
    }

    .botones {
        transition: all 300ms;
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0%;
        background: rgb(46, 46, 46);
        overflow: hidden;
        box-shadow: 10px 0 20px -25px black;
        z-index: 3;
    }

    .botones ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .botones ul li {
        max-width: 300px;
        margin: 0px 0px;
        height: 50px;
        justify-content: flex-start;
        transition: all 300ms;
    }

    .botones ul li:hover {
        background: rgb(46, 46, 46);
        margin: 0px 0px;
    }

    .botones ul li a {
        color: #fff;
        margin-left: 20px;
    }

    .botones ul li a:hover {
        font-size: 25px;
        text-shadow: none;
    }

    .botones ul li a i {
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: rgb(255, 255, 255);
    }

    .selected:before {
        width: 6px;
        height: 100%;
        background: #fff;
    }
}

@media screen and (max-width: 500px) {
    
    #icon-menu {
        width: 40px;
        height: 40px;
        top: 10px;
    }
}